* {
    margin-left: 20px;
}

body {
    background: #3ed1c2;
}

.heading {
    display: flex;
    margin-top: 20px;
}

.cat {
    position: absolute;
    height: 150px;
    z-index: -1;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: white;
    text-shadow: 1px 2px 5px rgba(124, 113, 113, 0.52);
    text-transform: capitalize;
    margin-top: 70px;
    /* margin-left: 30px; */
}

input {
    width: 595px;
    height: 40px;
    margin-bottom: 13px;
    padding-left: 20px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}
.button-container {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 25px;
}

button {
    height: 35px;
    padding-left: 13.5px;
    padding-right: 13.5px;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.575);
    cursor: pointer;
    text-transform: capitalize;
}

.add {
    background-color: rgb(33, 144, 33);
}

.remove-completed {
    background-color: rgb(255, 187, 0);
}

.edit-task {
    background-color: teal;
}

.remove-all {
    background-color: crimson;
}

.add:hover {
    background-color: rgb(8, 184, 8);
}

.remove-completed:hover {
    background-color: gold;
}

.edit-task:hover {
    background-color: rgb(21, 190, 190);
}

.remove-all:hover {
    background-color: rgb(255, 56, 56);
}